.perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(55, 65, 65);
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin: 10px auto;
}
h1{
    color: aliceblue;
    margin: 10px 5px;
}
p{
    color:aliceblue;
    margin: 5px;
}
a{
    color: antiquewhite;
    
}
.perfil img{
    border: 3px solid aliceblue;
    border-radius: 100px;
    margin: 15px;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    background-color: rgb(55, 65, 65);
    width: 40%;
    height: 50vh;
    border-radius: 15px;
    margin: 10px auto;
    padding: 20px;
    
}

h2{
    color: antiquewhite;
    margin: 10px 5px;
}

.filho{
    background-color: rgb(76, 105, 105);
    margin: 0 10px;
    border-radius: 10px;
    width: 50%;
    height: 75%;
    text-align: center;
}

.section-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    background-color: rgb(55, 65, 65);
    width: 80%;
    height: 80%;

    border-radius: 15px;
}

header{
    background-color: rgb(76, 105, 105);
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}
    
.card{
    background-color: rgb(76, 105, 105);
    width: 20%;
    height: 33%;
    color: antiquewhite;
    margin: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img{
    display: block;
    margin: auto;
    border-radius: 10px;
    margin: 20px;
}
