.perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(55, 65, 65);
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin: 10px auto;
}
h1{
    color: aliceblue;
    margin: 10px 5px;
}
p{
    color:aliceblue;
    margin: 5px;
}
a{
    color: antiquewhite;
    
}
img{
    border: 3px solid aliceblue;
    border-radius: 100px;
    margin: 15px;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    background-color: rgb(55, 65, 65);
    width: 40%;
    height: 40vh;
    border-radius: 15px;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
}

h2{
    color: antiquewhite;
    margin: 10px 5px;
}

.filho{
    background-color: rgb(76, 105, 105);
    margin: 0 10px;
    border-radius: 10px;
    width: 50%;
    height: 75%;
    text-align: center;
}